[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
timeout = 30
collections_path = ~/.ansible/collections
deprecation_warnings = False

[persistent_connection]
connect_timeout = 30
command_timeout = 30
ssh_type = paramiko

[paramiko_connection]
look_for_keys = False
host_key_checking = False
remote_port = 22

[ssh_connection]
ssh_args = -oKexAlgorithms=+diffie-hellman-group14-sha1 -oHostKeyAlgorithms=+ssh-rsa
